# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MSoft_IDEA_2021\IntraCityCollection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
